<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Account Profile</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
    <img src="https://media.discordapp.net/attachments/1118220842434830385/1126428465952985178/image.png" alt="Profile Picture" class="img-fluid" width="200" height="200">
      </div>
      <div class="col-md-8">
        <h1>Name: {{name}}</h1>
        <p>Email: {{email}}</p>
      </div>
    </div>
    <ul class="list-group">
      
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>




{{!-- //Old Profile Page// --}}
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create New Post:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Subject:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      {{!-- <div class="form-group">
        <label for="project-funding">School of Thought ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div> --}}
      <div class="form-group">
        <label for="project-desc">Comment:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Your Posts:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>
